In [36]:
import pandas as pd
from pyspark.sql import SparkSession, SQLContext
from pyspark.ml.classification import DecisionTreeClassifier, RandomForestClassifier
from pyspark.sql.types import *
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
import seaborn as sns
from pyspark.sql.functions import col
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
from pyspark.ml.feature import Word2Vec
import matplotlib.pyplot as plt
from pyspark.sql.functions import split
from pyspark.sql.functions import expr
from machine_learning.testing import evaluateModel
from machine_learning.training import trainModel

ModuleNotFoundError: No module named 'machine_learning'

In [17]:
t = pd.read_json('Clothing_Shoes_and_Jewelry.json',nrows=10000,lines=True)
t

,_id,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,category,class
0,{'$oid': '5a132293741a2384e8376cbc'},A19PBP93OF896,0000031887,"Alinna Satake ""Can't Stop Eating""","[0, 1]",My 3-yr-old daughter received this as a gift f...,1,Tiny and Poorly Constructed!,1363824000,"03 21, 2013",Clothing_Shoes_and_Jewelry,0
1,{'$oid': '5a132293741a2384e8376cb9'},A2G0LNLN79Q6HR,0000031887,"aj_18 ""Aj_18""","[1, 1]",This was a really cute tutu the only problem i...,4,Really Cute but rather short.,1337990400,"05 26, 2012",Clothing_Shoes_and_Jewelry,1
2,{'$oid': '5a132293741a2384e8376cba'},A2XVJBSRI3SWDI,0000031887,abigail,"[0, 0]",Perfect red tutu for the price. I baught it as...,5,Nice tutu,1383523200,"11 4, 2013",Clothing_Shoes_and_Jewelry,1
3,{'$oid': '5a132293741a2384e8376cbd'},A1P0IHU93EF9ZK,0000031887,Amanda,"[0, 0]",Bought it for my daughters first birthday whic...,4,i love it,1390435200,"01 23, 2014",Clothing_Shoes_and_Jewelry,1
4,{'$oid': '5a132293741a2384e8376cbe'},A1KLRMWW2FWPL4,0000031887,"Amazon Customer ""cameramom""","[0, 0]",This is a great tutu and at a really great pri...,5,Great tutu- not cheaply made,1297468800,"02 12, 2011",Clothing_Shoes_and_Jewelry,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,{'$oid': '5a132293741a2384e8379553'},A105HX4CY4GFS6,B00007GDAL,Karee,"[1, 1]","this has 16 card slots, one is a window thumb ...",5,Perfect for me,1373932800,"07 16, 2013",Clothing_Shoes_and_Jewelry,1
9996,{'$oid': '5a132293741a2384e8379560'},APAC4K0A9LBJJ,B00007GDAL,"Lainee,E","[0, 0]",I'm very satisfied with this wallet. Quality ...,5,Good Product,1396224000,"03 31, 2014",Clothing_Shoes_and_Jewelry,1
9997,{'$oid': '5a132293741a2384e837955f'},AC6C1VKYQBELX,B00007GDAL,Lady Sheep,"[1, 1]","I really like the wallet, I like that it is al...",5,great wallet,1378771200,"09 10, 2013",Clothing_Shoes_and_Jewelry,1
9998,{'$oid': '5a132293741a2384e837955d'},A17OBB1HKHY1KP,B00007GDAL,Kimberly M,"[0, 0]",I've been looking for something like this fore...,5,Finally,1402617600,"06 13, 2014",Clothing_Shoes_and_Jewelry,1
9999,{'$oid': '5a132293741a2384e837955e'},A26KOQFEU2VPW2,B00007GDAL,"K. Petuskey ""Aging reader""","[0, 0]",I found the wallet with all card slots filled ...,3,Bulky,1395964800,"03 28, 2014",Clothing_Shoes_and_Jewelry,0

In [2]:
spark = SparkSession.builder.master("spark://localhost:7077").appName("BD").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/09 16:23:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [27]:
df = spark.read.json('Clothing_Shoes_and_Jewelry.json')
df = df.withColumnRenamed("summary","textSummary")
df.show()

+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|                 _id|      asin|            category|class|helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|         textSummary|unixReviewTime|
+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [0, 1]|    1.0|My 3-yr-old daugh...|03 21, 2013| A19PBP93OF896|Alinna Satake "Ca...|Tiny and Poorly C...|    1363824000|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [1, 1]|    4.0|This was a really...|05 26, 2012|A2G0LNLN79Q6HR|       aj_18 "Aj_18"|Really Cute but r...|    1337990400|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Perfect red tutu ...| 11 4, 2013|A2XVJBSRI3SWDI|             abigail|           Nice tutu|    1383523200|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|Bought it for my ...|01 23, 2014|A1P0IHU93EF9ZK|              Amanda|           i love it|    1390435200|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|This is a great t...|02 12, 2011|A1KLRMWW2FWPL4|Amazon Customer "...|Great tutu-  not ...|    1297468800|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Got this for our ...|12 26, 2012|A1GQPAM8Y45QN7|     Amazon Customer|                Tutu|    1356480000|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [1, 1]|    2.0|the tutu color wa...|02 17, 2013|A2R3K1KX09QBYP|      alert consumer|not very good mat...|    1361059200|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Just as described...|06 22, 2013| AEAN37KUOYSX4|     Amazon Customer|          Fantastic!|    1371859200|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|I bought this for...|01 19, 2013|A2G5TCU2WDFZ65|     Amazon Customer|         Very Cute!!|    1358553600|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|This really is a ...| 03 4, 2013|A2QEODSEIT1ME2|     Amazon Customer|           Very Nice|    1362355200|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [3, 4]|    4.0|I ordered this fo...|03 16, 2010|A3Q6CTO56DJ8UZ|      Amazing Amazon|       Good Quality!|    1268697600|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Vey cute and perf...|02 18, 2014|A3CHBY0CB0O7PP|     Amazon Customer|                cute|    1392681600|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Loved it and so d...|11 21, 2012|A1Z4XQ937SMPO3|             amstier|        super cute!!|    1353456000|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Purchased it for ...|06 16, 2014|A1MCJONUQ78L9T|     Amazon Customer|My daughter loved...|    1402876800|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|Very cute, shorte...|12 10, 2013|A2PSIVW9I3TGHD|     Amazon Customer|        Good product|    1386633600|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Our 3-year-old pe...|08 24, 2013| AZMKXP68HZ4CN|      Angela K. Ford|          Wonderful!|    1377302400|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [0, 0]|    3.0|The waistband was...|12 28, 2012| A5GPS8FCXTPPI|          Ann C Peat|           Waistband|    1356652800|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|The tutu's was fo...|01 15, 2014| AM1CYMR007O6H|         anne foster|              Tutus!|    1389744000|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|My 5 year old dau...|12 25, 2013|A25G580SJ513IC|          Anne Klein|         Very happy!|    1387929600|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|I just got this t...|10 24, 2013|A2F9MVWWC0IZYW|                 Amy|Perfect for the p...|    1382572800|
+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [6]:
# TF-IDF

tokenizer = Tokenizer(inputCol="reviewText", outputCol="words")
wordsData = tokenizer.transform(df)

hashingTF = HashingTF(inputCol="words", outputCol="rawFeatures", numFeatures=20)
featurizedData = hashingTF.transform(wordsData)
# alternatively, CountVectorizer can also be used to get term frequency vectors

idf = IDF(inputCol="rawFeatures", outputCol="features")
idfModel = idf.fit(featurizedData)
rescaledData = idfModel.transform(featurizedData)

+-----+--------------------+
|class|            features|
+-----+--------------------+
|  0.0|(20,[0,1,2,3,4,5,...|
|  1.0|(20,[0,1,2,3,6,7,...|
|  1.0|(20,[0,3,4,6,8,9,...|
|  1.0|(20,[1,2,3,4,5,6,...|
|  1.0|(20,[0,1,2,3,4,5,...|
|  1.0|(20,[1,2,3,4,5,6,...|
|  0.0|(20,[0,1,3,4,5,6,...|
|  1.0|(20,[0,1,3,4,6,7,...|
|  1.0|(20,[0,1,2,3,4,5,...|
|  1.0|(20,[1,3,4,5,6,7,...|
|  1.0|(20,[1,2,3,4,5,6,...|
|  1.0|(20,[1,3,4,6,7,8,...|
|  1.0|(20,[0,2,3,6,8,9,...|
|  1.0|(20,[0,1,2,3,4,5,...|
|  1.0|(20,[0,1,2,3,4,5,...|
|  1.0|(20,[2,3,4,5,6,8,...|
|  0.0|(20,[1,2,3,4,5,6,...|
|  1.0|(20,[0,3,4,6,8,9,...|
|  1.0|(20,[0,1,3,4,5,6,...|
|  1.0|(20,[0,1,2,3,4,5,...|
+-----+--------------------+
only showing top 20 rows

In [8]:
rescaledData.show()

+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|                 _id|      asin|            category|class|helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|               words|         rawFeatures|            features|
+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [0, 1]|    1.0|My 3-yr-old daugh...|03 21, 2013| A19PBP93OF896|Alinna Satake "Ca...|Tiny and Poorly C...|    1363824000|[my, 3-yr-old, da...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [1, 1]|    4.0|This was a really...|05 26, 2012|A2G0LNLN79Q6HR|       aj_18 "Aj_18"|Really Cute but r...|    1337990400|[this, was, a, re...|(20,[0,1,2,3,6,7,...|(20,[0,1,2,3,6,7,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Perfect red tutu ...| 11 4, 2013|A2XVJBSRI3SWDI|             abigail|           Nice tutu|    1383523200|[perfect, red, tu...|(20,[0,3,4,6,8,9,...|(20,[0,3,4,6,8,9,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|Bought it for my ...|01 23, 2014|A1P0IHU93EF9ZK|              Amanda|           i love it|    1390435200|[bought, it, for,...|(20,[1,2,3,4,5,6,...|(20,[1,2,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|This is a great t...|02 12, 2011|A1KLRMWW2FWPL4|Amazon Customer "...|Great tutu-  not ...|    1297468800|[this, is, a, gre...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Got this for our ...|12 26, 2012|A1GQPAM8Y45QN7|     Amazon Customer|                Tutu|    1356480000|[got, this, for, ...|(20,[1,2,3,4,5,6,...|(20,[1,2,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [1, 1]|    2.0|the tutu color wa...|02 17, 2013|A2R3K1KX09QBYP|      alert consumer|not very good mat...|    1361059200|[the, tutu, color...|(20,[0,1,3,4,5,6,...|(20,[0,1,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Just as described...|06 22, 2013| AEAN37KUOYSX4|     Amazon Customer|          Fantastic!|    1371859200|[just, as, descri...|(20,[0,1,3,4,6,7,...|(20,[0,1,3,4,6,7,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|I bought this for...|01 19, 2013|A2G5TCU2WDFZ65|     Amazon Customer|         Very Cute!!|    1358553600|[i, bought, this,...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|This really is a ...| 03 4, 2013|A2QEODSEIT1ME2|     Amazon Customer|           Very Nice|    1362355200|[this, really, is...|(20,[1,3,4,5,6,7,...|(20,[1,3,4,5,6,7,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [3, 4]|    4.0|I ordered this fo...|03 16, 2010|A3Q6CTO56DJ8UZ|      Amazing Amazon|       Good Quality!|    1268697600|[i, ordered, this...|(20,[1,2,3,4,5,6,...|(20,[1,2,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Vey cute and perf...|02 18, 2014|A3CHBY0CB0O7PP|     Amazon Customer|                cute|    1392681600|[vey, cute, and, ...|(20,[1,3,4,6,7,8,...|(20,[1,3,4,6,7,8,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Loved it and so d...|11 21, 2012|A1Z4XQ937SMPO3|             amstier|        super cute!!|    1353456000|[loved, it, and, ...|(20,[0,2,3,6,8,9,...|(20,[0,2,3,6,8,9,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Purchased it for ...|06 16, 2014|A1MCJONUQ78L9T|     Amazon Customer|My daughter loved...|    1402876800|[purchased, it, f...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|Very cute, shorte...|12 10, 2013|A2PSIVW9I3TGHD|     Amazon Customer|        Good product|    1386633600|[very, cute,, sho...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|Our 3-year-old pe...|08 24, 2013| AZMKXP68HZ4CN|      Angela K. Ford|          Wonderful!|    1377302400|[our, 3-year-old,...|(20,[2,3,4,5,6,8,...|(20,[2,3,4,5,6,8,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  0.0| [0, 0]|    3.0|The waistband was...|12 28, 2012| A5GPS8FCXTPPI|          Ann C Peat|           Waistband|    1356652800|[the, waistband, ...|(20,[1,2,3,4,5,6,...|(20,[1,2,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|The tutu's was fo...|01 15, 2014| AM1CYMR007O6H|         anne foster|              Tutus!|    1389744000|[the, tutu's, was...|(20,[0,3,4,6,8,9,...|(20,[0,3,4,6,8,9,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    5.0|My 5 year old dau...|12 25, 2013|A25G580SJ513IC|          Anne Klein|         Very happy!|    1387929600|[my, 5, year, old...|(20,[0,1,3,4,5,6,...|(20,[0,1,3,4,5,6,...|
|{5a132293741a2384...|0000031887|Clothing_Shoes_an...|  1.0| [0, 0]|    4.0|I just got this t...|10 24, 2013|A2F9MVWWC0IZYW|                 Amy|Perfect for the p...|    1382572800|[i, just, got, th...|(20,[0,1,2,3,4,5,...|(20,[0,1,2,3,4,5,...|
+--------------------+----------+--------------------+-----+-------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [12]:
# Word2Vec

# Input data: Each row is a bag of words from a sentence or document.
l = df.select('class',split(df.reviewText, ' ').alias('str')).take(10000)
documentDF = spark.createDataFrame(data=l, schema = ['class','str'])
documentDF.show()

TypeError: Invalid argument, not a string or column: <bound method DataFrame.summary of DataFrame[_id: struct<$oid:string>, asin: string, category: string, class: double, helpful: array<bigint>, overall: double, reviewText: string, reviewTime: string, reviewerID: string, reviewerName: string, summary: string, unixReviewTime: bigint]> of type <class 'method'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [28]:
# Input data: Each row is a bag of words from a sentence or document.
documentDF = df.select('class',split(df.textSummary, ' ').alias('str'))
documentDF.show()

+-----+--------------------+
|class|                 str|
+-----+--------------------+
|  0.0|[Tiny, and, Poorl...|
|  1.0|[Really, Cute, bu...|
|  1.0|        [Nice, tutu]|
|  1.0|       [i, love, it]|
|  1.0|[Great, tutu-, , ...|
|  1.0|              [Tutu]|
|  0.0|[not, very, good,...|
|  1.0|        [Fantastic!]|
|  1.0|      [Very, Cute!!]|
|  1.0|        [Very, Nice]|
|  1.0|    [Good, Quality!]|
|  1.0|              [cute]|
|  1.0|     [super, cute!!]|
|  1.0|[My, daughter, lo...|
|  1.0|     [Good, product]|
|  1.0|        [Wonderful!]|
|  0.0|         [Waistband]|
|  1.0|            [Tutus!]|
|  1.0|      [Very, happy!]|
|  1.0|[Perfect, for, th...|
+-----+--------------------+
only showing top 20 rows

In [29]:
# Learn a mapping from words to Vectors.
word2Vec = Word2Vec(vectorSize=7, minCount=0, inputCol="str", outputCol="result")
model = word2Vec.fit(documentDF)

result = model.transform(documentDF)

In [30]:
result.show()

+-----+--------------------+--------------------+
|class|                 str|              result|
+-----+--------------------+--------------------+
|  0.0|[Tiny, and, Poorl...|[-0.1789312288165...|
|  1.0|[Really, Cute, bu...|[-0.2102354392409...|
|  1.0|        [Nice, tutu]|[-0.1598797589540...|
|  1.0|       [i, love, it]|[0.89725091060002...|
|  1.0|[Great, tutu-, , ...|[-0.1689084346095...|
|  1.0|              [Tutu]|[0.02656632661819...|
|  0.0|[not, very, good,...|[-0.3106276933103...|
|  1.0|        [Fantastic!]|[0.07304732501506...|
|  1.0|      [Very, Cute!!]|[-0.7205476164817...|
|  1.0|        [Very, Nice]|[-0.6041751354932...|
|  1.0|    [Good, Quality!]|[-0.7159929871559...|
|  1.0|              [cute]|[-0.5383317470550...|
|  1.0|     [super, cute!!]|[-0.4520824253559...|
|  1.0|[My, daughter, lo...|[1.40153291821479...|
|  1.0|     [Good, product]|[-0.4305349886417...|
|  1.0|        [Wonderful!]|[0.10528587549924...|
|  0.0|         [Waistband]|[0.10752370953559...|
|  1.0|            [Tutus!]|[0.01405739784240...|
|  1.0|      [Very, happy!]|[-0.3688471466302...|
|  1.0|[Perfect, for, th...|[0.09724645316600...|
+-----+--------------------+--------------------+
only showing top 20 rows

In [31]:
#Decision Tree

In [32]:
#Split data to train and test, 80% is for training and the rest is for tesing.
train, test = df.randomSplit([0.8, 0.2])

In [33]:
#Define decision tree and its hyper parameters for grid searching.
dt = DecisionTreeClassifier(featuresCol= 'features', labelCol = 'label')

dtParamGrid = ParamGridBuilder() \
    .addGrid(dt.minInstancesPerNode, [3, 5, 10, 15]) \
    .addGrid(dt.maxDepth, [3, 5, 10, 20]) \
    .addGrid(dt.maxBins, [8, 16, 32])\
    .build()

In [ ]:
# Using grid search to find best hyper parameter. The evaluation strategy is k-fold cross validation, in our case,
# k equals 5. In other words, each hyper parameters set is evaluated by 5-fold cross validation on traing data.  
# The best model is tested on test data, results are following.

In [34]:
bestDT = trainModel(train, dt, dtParamGrid)

acc, confusion, precision, reall = evaluateModel(test, bestDT)

fig, ax = plt.subplots(1, 1)
sns.heatmap(confusion, annot= True, cmap="PuBu", ax = ax, fmt= '.0f')
ax.set_xlabel("Prediction")
ax.set_ylabel("Ground Truth")
ax.set_yticklabels(["No", "Yes"])
ax.set_xticklabels(["No", "Yes"])

plt.show()

NameError: name 'trainModel' is not defined